<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Hello world
    <form action="/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="OK">
    </form>
</body>
</html>